body {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
	background-size: 100% 100%;
	padding:0px;
	margin:0px;
} 
h1{font-size:550%; font-weight: normal; text-align: left;}
h2{font-size:400%;}
p,li{font-size:250%;}
article, p{margin:20px 0px;}
header{height:150pt;}
header svg{float:right; width:242pt; height:140pt;}

#background {
	width:80%;  
	padding:30px;
	margin:0% 0% 0% 15%;
}
#mapcontainer{height:400px; width:98%; border:5px solid #ffffff}	